components:
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
  schemas:
    voice.v1.archived_call:
      type: object
      properties:
        date:
          type: string
        sid:
          type: string
        url:
          type: string
    voice.v1.trunk:
      type: object
      properties:
        account_sid:
          type: string
        sid:
          type: string
        friendly_name:
          type: string
        voice_url:
          type: string
        voice_method:
          type: string
        voice_fallback_url:
          type: string
        voice_fallback_method:
          type: string
        status_callback_url:
          type: string
        status_callback_method:
          type: string
        cnam_lookup_enabled:
          type: boolean
        policy_sid:
          type: string
        from_domain_sid:
          type: string
        date_created:
          type: string
        date_updated:
          type: string
        url:
          type: string
    voice.v1.policy:
      type: object
      properties:
        account_sid:
          type: string
        sid:
          type: string
        friendly_name:
          type: string
        date_created:
          type: string
        date_updated:
          type: string
        url:
          type: string
        links:
          type: object
    voice.v1.policy.policy_target:
      type: object
      properties:
        account_sid:
          type: string
        policy_sid:
          type: string
        sid:
          type: string
        friendly_name:
          type: string
        target:
          type: string
        priority:
          type: integer
        weight:
          type: integer
        enabled:
          type: boolean
        date_created:
          type: string
        date_updated:
          type: string
        url:
          type: string
    voice.v1.permissions:
      type: object
      properties: {}
    voice.v1.permissions.permissions_country:
      type: object
      properties:
        iso_code:
          type: string
        name:
          type: string
        continent:
          type: string
        country_codes:
          type: array
          items:
            type: string
        low_risk_numbers_enabled:
          type: boolean
        high_risk_special_numbers_enabled:
          type: boolean
        high_risk_tollfraud_numbers_enabled:
          type: boolean
        url:
          type: string
        links:
          type: object
    voice.v1.permissions.permissions_country-instance:
      type: object
      properties:
        iso_code:
          type: string
        name:
          type: string
        continent:
          type: string
        country_codes:
          type: array
        low_risk_numbers_enabled:
          type: boolean
        high_risk_special_numbers_enabled:
          type: boolean
        high_risk_tollfraud_numbers_enabled:
          type: boolean
        url:
          type: string
        links:
          type: object
    voice.v1.permissions.permissions_country_bulk_update:
      type: object
      properties:
        update_count:
          type: integer
        update_request:
          type: string
    voice.v1.permissions.permissions_country.permissions_hrs_prefixes:
      type: object
      properties:
        prefix:
          type: string
    voice.v1.permissions.permissions_settings:
      type: object
      properties:
        permissions_inheritance:
          type: boolean
        url:
          type: string
    voice.v1.record:
      type: object
      properties:
        account_sid:
          type: string
        sid:
          type: string
        friendly_name:
          type: string
        ip_address:
          type: string
        cidr_prefix_length:
          type: integer
        date_created:
          type: string
        date_updated:
          type: string
        url:
          type: string
    recording_enum_status:
      type: string
    recording_enum_source:
      type: string
    voice.v1.source_ip_mapping:
      type: object
      properties:
        sid:
          type: string
        record_sid:
          type: string
        sip_domain_sid:
          type: string
        date_created:
          type: string
        date_updated:
          type: string
        url:
          type: string
info:
  title: Twilio - Voice
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
openapi: 3.0.1
paths:
  /v1/Archives/{Date}/Calls/{Sid}:
    servers:
    - url: https://voice.twilio.com
    delete:
      description: 'Delete a record.'
      parameters:
      - name: Date
        in: path
        description: The date of the Call in UTC.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: The Twilio-provided Call SID that uniquely identifies the Call
          resource to delete
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteArchive
  /v1/Trunks:
    servers:
    - url: https://voice.twilio.com
    post:
      description: ''
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.trunk'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateTrunk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreateTrunkRequest
              properties:
                FriendlyName:
                  type: string
                VoiceUrl:
                  type: string
                VoiceMethod:
                  type: string
                VoiceFallbackUrl:
                  type: string
                VoiceFallbackMethod:
                  type: string
                StatusCallbackUrl:
                  type: string
                StatusCallbackMethod:
                  type: string
                CnamLookupEnabled:
                  type: boolean
                PolicySid:
                  type: string
                FromDomainSid:
                  type: string
    get:
      description: ''
      parameters:
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  trunks:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.trunk'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        type: string
                      url:
                        type: string
                    type: object
                title: ListTrunkResponse
          headers:  
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: OK
      security:
      - accountSid_authToken: []
      operationId: RetrieveTrunk
  /v1/Trunks/{Sid}:
    servers:
    - url: https://voice.twilio.com
    get:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.trunk'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchTrunk
    post:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.trunk'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: DoTrunkUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdateTrunkRequest
              properties:
                FriendlyName:
                  type: string
                VoiceUrl:
                  type: string
                  format: uri
                VoiceMethod:
                  type: string
                VoiceFallbackUrl:
                  type: string
                VoiceFallbackMethod:
                  type: string
                StatusCallbackUrl:
                  type: string
                StatusCallbackMethod:
                  type: string
                CnamLookupEnabled:
                  type: boolean
                PolicySid:
                  type: string
                FromDomainSid:
                  type: string
    delete:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteTrunk
  /v1/Policies:
    servers:
    - url: https://voice.twilio.com
    post:
      description: ''
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.policy'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: CreatePolicy
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreatePolicyRequest
              properties:
                FriendlyName:
                  type: string
    get:
      description: ''
      parameters:
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.policy'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        type: string
                      url:
                        type: string
                    type: object
                title: ListPolicyResponse
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListPolicy
  /v1/Policies/{Sid}:
    servers:
    - url: https://voice.twilio.com
    get:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.policy'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchPolicy
    post:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.policy'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: UpdatePolicy
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdatePolicyRequest
              properties:
                FriendlyName:
                  type: string
    delete:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeletePolicy
  /v1/Policies/{PolicySid}/Targets:
    servers:
    - url: https://voice.twilio.com
    post:
      description: ''
      parameters:
      - name: PolicySid
        in: path
        schema:
          type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.policy.policy_target'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreatePolicyTarget
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreatePolicyTargetRequest
              properties:
                Target:
                  type: string
                FriendlyName:
                  type: string
                Priority:
                  type: integer
                Weight:
                  type: integer
                Enabled:
                  type: boolean
              required:
              - Target
    get:
      description: ''
      parameters:
      - name: PolicySid
        in: path
        description: The SID of the Policy from which to read the Targets.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  targets:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.policy.policy_target'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        type: string
                      url:
                        type: string
                    type: object
                title: ListPolicyTargetResponse
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: ListPolicyTarget
  /v1/Policies/{PolicySid}/Targets/{Sid}:
    servers:
    - url: https://voice.twilio.com
    get:
      description: ''
      parameters:
      - name: PolicySid
        in: path
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.policy.policy_target'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchPolicyTarget
    post:
      description: ''
      parameters:
      - name: PolicySid
        in: path
        description: The SID of the Policy that owns the Target.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.policy.policy_target'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: UpdatePolicyTarget
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdatePolicyTargetRequest
              properties:
                FriendlyName:
                  type: string
                Target:
                  type: string
                Priority:
                  type: integer
                Weight:
                  type: integer
                Enabled:
                  type: boolean
    delete:
      description: ''
      parameters:
      - name: PolicySid
        in: path
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeletePolicyTarget
  /v1/Permissions:
    servers:
    - url: https://voice.twilio.com
    description: ''
  /v1/Permissions/Countries/{Country}:
    servers:
    - url: https://voice.twilio.com
    get:
      description: Retrieve permissions of country
      parameters:
      - name: Country
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.permissions.permissions_country-instance'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchPermissionsCountry
  /v1/Permissions/Countries:
    servers:
    - url: https://voice.twilio.com
    get:
      description: Retrieve permissions
      parameters:
      - name: IsoCode
        in: query
        schema:
          type: string
      - name: Continent
        in: query
        schema:
          type: string
      - name: CountryCode
        in: query
        schema:
          type: string
      - name: LowRiskNumbersEnabled
        in: query
        schema:
          type: boolean
      - name: HighRiskSpecialNumbersEnabled
        in: query
        schema:
          type: boolean
      - name: HighRiskTollfraudNumbersEnabled
        in: query
        schema:
          type: boolean
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.permissions.permissions_country'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        nullable: true
                        type: string
                      url:
                        type: string
                    type: object
                title: ListPermissionsCountryResponse
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: ListPermissionsCountry
  /v1/Permissions/BulkCountryUpdates:
    servers:
    - url: https://voice.twilio.com
    post:
      description: Update countries.
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.permissions.permissions_country_bulk_update'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreatePermissionsCountryBulkUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreatePermissionsCountryBulkUpdateRequest
              properties:
                UpdateRequest:
                  type: string
              required:
              - UpdateRequest
  /v1/Permissions/Countries/{Country}/HighRiskSpecialPrefixes:
    servers:
    - url: https://voice.twilio.com
    get:
      description: Fetch the high-risk special services prefixes from the country
      parameters:
      - name: Country
        in: path
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.permissions.permissions_country.permissions_hrs_prefixes'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        type: string
                      url:
                        type: string
                    type: object
                title: ListPermissionsHrsPrefixesResponse
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: ListPermissionsHrsPrefixes
  /v1/Settings:
    servers:
    - url: https://voice.twilio.com
    get:
      description: Retrieve permissions inheritance for the sub-account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.permissions.permissions_settings'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchPermissionsSettings
    post:
      description: Update voice permissions for the sub-account
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.permissions.permissions_settings'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: Accepted
      security:
      - accountSid_authToken: []
      operationId: UpdatePermissionsSettings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdatePermissionsSettingsRequest
              properties:
                PermissionsInheritance:
                  type: boolean
  /v1/Records:
    servers:
    - url: https://voice.twilio.com
    post:
      description: ''
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.record'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateRecord
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreateRecordRequest
              properties:
                IpAddress:
                  type: string
                FriendlyName:
                  type: string
                CidrPrefixLength:
                  type: integer
              required:
              - IpAddress
    get:
      description: ''
      parameters:
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.record'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        nullable: true
                        type: string
                      url:
                        type: string
                    type: object
                title: ListRecordResponse
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: ListRecord
  /v1/Records/{Sid}:
    servers:
    - url: https://voice.twilio.com
    get:
      description: ''
      parameters:
      - name: Sid
        in: path
        description: Id
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.record'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchRecord
    post:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.record'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: UpdateRecord
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdateRecordRequest
              properties:
                FriendlyName:
                  type: string
    delete:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteRecord
  /v1/SourceIpMappings:
    servers:
    - url: https://voice.twilio.com
    post:
      description: ''
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateSourceIpMapping
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: CreateSourceIpMappingRequest
              properties:
                RecordSid:
                  type: string
                SipDomainSid:
                  type: string
              required:
              - RecordSid
              - SipDomainSid
    get:
      description: ''
      parameters:
      - name: PageSize
        in: query
        schema:
          type: integer
      - name: Page
        in: query
        schema:
          type: integer
      - name: PageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  source_ip_mappings:
                    type: array
                    items:
                      $ref: '#/components/schemas/voice.v1.source_ip_mapping'
                  meta:
                    properties:
                      first_page_url:
                        type: string
                      key:
                        type: string
                      next_page_url:
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        nullable: true
                        type: string
                      url:
                        type: string
                    type: object
                title: ListSourceIpMappingResponse
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: ListSourceIpMapping
  /v1/SourceIpMappings/{Sid}:
    servers:
    - url: https://voice.twilio.com
    get:
      description: ''
      parameters:
      - name: Sid
        in: path
        description: Id.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: FetchSourceIpMapping
    post:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.source_ip_mapping'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              schema:
                type: string
      security:
      - accountSid_authToken: []
      operationId: UpdateSourceIpMapping
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              title: UpdateSourceIpMappingRequest
              properties:
                SipDomainSid:
                  type: string
              required:
              - SipDomainSid
    delete:
      description: ''
      parameters:
      - name: Sid
        in: path
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteSourceIpMapping
servers:
- url: https://voice.twilio.com
security:
- accountSid_authToken: []